default:
  suites:
    tenantbundle:
      contexts:
        - TenantBundleContext
        - CommandContext

  extensions:
    Behat\Symfony2Extension:
      kernel:
        env: test
        debug: true
        bootstrap: test/Vivait/TenantBundle/app/bootstrap.php
        path: test/Vivait/TenantBundle/app/AppKernel.php
        class: test\Vivait\TenantBundle\app\AppKernel
